codecov==2.0.15
flake8-blind-except==0.1.1
flake8-coding==1.3.1
flake8-debugger==1.4.0
flake8-docstrings==1.0.2
flake8-isort==2.1.3
flake8-pep3101==1.0
flake8-quotes==0.8.1
flake8-string-format==0.2.3
flake8==3.2.1
httmock==1.2.6
isort==4.2.5
mccabe==0.5.3
mock==2.0.0
pep257==0.7.0
pep8-naming==0.4.1
pep8==1.7.0
pip-check==0.2
pip==8.1.2
pydocstyle==1.1.1
pyflakes==1.5.0
pytest-cov==2.4.0
pytest==3.0.5
radon==1.4.2
requests==2.12.4
